<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../template/static/artists.css">
    <title>Groupie Tracker - {{.Artists.Name}}</title>
</head>

<body>
    <section>
        <div class="container">
            <div class="content">
                <div class="card">
                    <div class="card-content">
                        <div class="image">
                            <img src="{{.Artists.Image}}" alt="Image">
                        </div>
                        <div class="name">{{.Artists.Name}}</div>
                    </div>
                </div>
            </div>
            <div class="details">

                <div class="members">
                    <h2>Members</h2>
                    <div class="lists">
                        {{range .Artists.Members}}
                        <div class="member list">{{.}}</div>
                        {{end}}
                    </div>
                </div>
                <div class="locations">
                    <h2>Locations</h2>
                    <div class="lists">
                        {{range .Locations.Location}}
                        <div class="location list">{{.}}</div>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>