@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --firstcolor: #FE9000;
    --secondcolor: #f7ac49;
}

* {
    margin: 0;
    padding: 0;
    color: #56423e;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
}


header {
    width: 100vw;
    height: max-content;
    display: flex;
    justify-content: center;
    /* background: #56423e; */
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    width: 100%;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 20px;
    background-color: var(--firstcolor);
    color: #fff;
}

.menu li:hover,
.menu a:hover {
    background-color: #fff;
    color: var(--firstcolor);
    border-radius: 5px;
    transition: 0.3s ease;
}

.nav-links a {
    color: #fff;
    font-weight: 600;
}

.logo {
    margin-top: 6px;
    width: 120px;
    color: #fff;
}

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}


.abouticon {
    width: 25px;
    height: 25px;
    position: relative;
}

.menu li {
    padding: 5px 14px;
}

body {
    width: 100vw;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: url(2.jpg);
    background-size: cover; */
}

.btn-home {
    background-image: linear-gradient(135deg, var(--secondcolor) 10%, var(--firstcolor) 100%);
    font-weight: bold;
    margin-top: 10px;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-home:hover {
    background-image: linear-gradient(135deg, var(--firstcolor) 10%, var(--secondcolor) 100%);
}

.link {
    display: flex;
    align-items: center;
}

.content {
    width: 90vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image {
    float: right;
}

.text-h1 {
    width: 100%;
}

.text-h2 {
    width: 100%;
}

span {
    color: var(--firstcolor);
}

.text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
}

h1 {
    font-size: 70px;
}