@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --firstcolor: #080321;
    --secondcolor: #080321bd;
    --textcolor: #4e2202;
    --whitecolor: #fff;
}

* {
    margin: 0;
    padding: 0;
    color: var(--textcolor);
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F2F2F2;
}

section {
    top: 15vh;
    position: absolute;
    height: 80%;
    border-radius: 20px;
    width: 85vw;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    overflow: scroll;
    background: var(--whitecolor);
}

.card {
    height: 320px;
    width: 280px;
    overflow: hidden;
    max-width: 400px;
    background: #fff;
    position: relative;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1);
    /* opacity: 0.9; */
}

.card:hover {
    transition: all 0.5s ease;
    height: 330px;
}

a {
    text-decoration: none;
    color: var(--firstcolor);
}

.details {
    margin-top: 7px;
    width: 270px;
    text-align: center;
    display: flex;
    justify-content: space-between;

}

.creationdate,
.firstalbum {
    width: 140px;
    margin: 15px 5px;
    padding: 5px;
    height: fit-content;
    color: var(--textcolor);
    font-size: 15px;
    font-weight: 600;
    border: 1.5px solid var(--firstcolor);
    border-radius: 10%;
    text-align: center;
}

.creationdate:hover,
.firstalbum:hover {
    background: var(--firstcolor);
    color: #fff;
}

.card::before {
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    background: var(--firstcolor);
    border-radius: 20px 20px 0 0;
}

.card-content .link .name {
    margin-top: 15px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    /* background: #000; */
}

.card .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 100;
}

section .card .image {
    margin-left: 10px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    padding: 3px;
    background: var(--firstcolor);
}

section .card .image:hover {
    margin: 0;
    height: 270px;
    width: 270px;
    transition: all 0.5s ease;
}

section .card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

section .card .image img:hover {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

.details {
    font-weight: 500;
}