<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/style.css">
    <title>Artists</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo"><a href="/"><img class="logo" src="../static/images/logomusi.png" alt="" srcset=""></a></div>
            <ul class="nav-links">
                <div class="menu">

                    <li><a href="/">Home</a></li>
                    <li><a href="/">About</a></li>
                </div>
            </ul>
        </nav>
    </header>

    <section>
        {{range .Artists}}
        <div class="container">
            <div class="content">
                <div class="card">
                    <div class="card-content">
                        <a href="/artists/{{.ID}}" class="link">
                            <div class="image">
                                <img src="{{.Image}}" alt="Image">
                            </div>
                            <div class="name">{{.Name}}</div>
                            <div class="details"">
                                <div class=" creationdate">
                                Creation Date {{.CreationDate}}
                            </div>
                            <div class="firstalbum">
                                First Album {{.FirstAlbum}}
                            </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        </div>
        {{end}}
    </section>
</body>

</html>